.header-placeholder {
	height: 50px;
}
.container {
	z-index: 10;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background: #c90c0c;
	height: 50px;

	.navSocial {
		margin-left: auto;

		a {
			margin: 5px 5px;

			img {
				height: 25px;
				width: 25px;
			}
		}
	}
}

.menu-container {
	display: flex;
	align-items: center;

	@media (max-width: 576px) {
		flex-direction: row-reverse;
	}

	/*================================================================
    # BUTTON
    ================================================================*/
	.menu-button {
		display: none;

		@media (max-width: 576px) {
			display: block;
		}

		img {
			height: 40px;
			width: 40px;
			object-fit: contain;
		}
	}

	/*================================================================
    # MENU
    ================================================================*/
	.menu {
		display: flex;
		gap: 20px;

		.element {
			cursor: pointer;
			display: flex;
			align-items: center;

			a {
				text-decoration: none;
				font-weight: bold;
				color: white;
				min-height: 50px;
				display: flex;
				align-items: center;
				margin-left: 25px;

				&.active {
					text-decoration: underline;
				}

				&:hover {
					opacity: 0.8;
				}
			}
		}
	}

	@media (max-width: 576px) {

		.menu {
			display: none;
			position: fixed;
			left: 0;
			top: 50px;
			height: calc(100vh - 50px);
			width: 300px;
			background-color: rgba(255, 255, 255, 0.8);
			flex-direction: column;
			gap: 0;

			&.open {
				display: block;
			}

			.element {
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				padding: 10px;

				a {
					width: 100%;
					color: red;

					&:hover {
						color: rgba(255, 0, 0, 0.5);
					}
				}

				&:last-child a {
					border-bottom: 0;
				}
			}
		}

		&.open {
			.menu {
				display: block;
			}
		}
	}
}