<div class="container">
    <div>
        <div class="menu-container" [class.open]="menuOpened">
            <div class="menu">
                <div class="element" *ngFor="let page of getMenu()">
                    <a *ngIf="page?.data && !page?.data?.hide" (click)="menuOpened = false" [href]="page?.path">
                        <span>{{ page?.data?.name}}</span>
                    </a>
                </div>
            </div>
            <div class="menu-button" (click)="menuOpened = !menuOpened">
                <img alt="Menù button" [src]="menuOpened ? 'assets/img/menuClose.svg' : 'assets/img/menuOpen.svg'" />
            </div>
        </div>
    </div>
    <div class="navSocial">
        <a href="https://www.instagram.com/" target="_blank">
            <img src="../../../assets/img/instagram.svg" alt="">
        </a>
        <a href="https://www.facebook.com/" target="_blank">
            <img src="../../../assets/img/facebook.svg" alt="">
        </a>
        <a href="https://www.x.com/" target="_blank">
            <img src="../../../assets/img/x.svg" alt="">
        </a>
    </div>
</div>
