.container-card {
    background-color: white;
    min-height: 330px;
    max-width: 200px;
    margin: 15px;
    border-radius: 25px;
    overflow: hidden;

    &:hover {
        cursor: pointer;
    }

    .titleElement {
        color: black;
        justify-content: center;
        align-items: center;
        display: flex;
        min-height: 45px;
        max-height: 50px;


        h4 {
            margin: 0;
            height: auto;
            display: inline;

            &:hover {
                color: red;
                transform: scale(1.2);
            }
        }
    }

    .imageElement {
        color: white;
        overflow: hidden;

        img {
            margin-bottom: -15px;

        }
    }
}