<app-header></app-header>
<div class="container-dettaglio" *ngIf="el">
    <div class="hero">
        <div class="titleElement">
            <h2>{{el.titolo}}</h2>
        </div>
        <div class="container">
            <div class="imageElement">
                <img src="{{el.imageDettaglio}}" alt="">
            </div>
            <div class="descriptionElement" *ngIf="el?.descrizione">
                <p>{{el.descrizione}}</p>
            </div>
        </div>
    </div>
    <h3 class="title">CAST</h3>
    <div class="container-swiper">
        <app-swiper [elements]="el.cast"></app-swiper>
    </div>
    <ng-container *ngIf="el?.similar?.length>0">
        <h3 class="title">FILM SIMILI</h3>
        <div class="container-swiper">
            <app-swiper-card [elements]="el.similar"></app-swiper-card>
        </div>
    </ng-container>
</div>