.titleElement {
    color: white;
    text-align: center;
}

.container {
    justify-content: center;

    .imageElement {
        img {
            width: 300px;
        }
    }

    .descriptionElement {
        padding: 50px;
        color: white;
        width: 100%;
        max-width: 600px;
    }

    .container-swiper{
        width: 800px;
        display: block;
        color: white;
    }
}
.title {
    text-align: center;
    color: white;
}