.titleCard {
    text-align: center;
    cursor: pointer;
    margin: 10px;
    font-size: 30px;

    &:hover {
        text-decoration: underline;
    }
}

.container {
    .imageCard {
        img {
            padding: 25px;
        }
    }

    .descrizioneCard {
        padding: 25px;
    }
}