.container {
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 15px;

    .title {
        color: white;
        text-align: center;
        margin: 25px;
    }

    .bar-search {
        margin-left:auto;
    }
}

.dettaglio-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    .container-dettaglio {
        background-color: white;
        position: relative;
        width: 100%;
        max-width: 600px;
        border-radius: 25px 0 25px 25px;


        .menuClose {
            cursor: pointer;
            position: absolute;
            top: -15px;
            right: -15px;

            img {
                height: 30px;
                width: 30px;
            }
        }
    }
}